@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<ForumEtec.Models.Pergunta>

<div class="row">
    <div class="col-sm-3">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
                Cras justo odio
            </a>
            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
        </div>
    </div>
    <div class="col-sm-9">

        @foreach (var item in Model)
        {
            var id = "Resposta" + item.PerguntaId;

        <div class="card text-left mb-3 border-dark ">
            <div class="card-header bg-danger">
                <h4 class="text-white">@Html.DisplayFor(modelItem => item.Aluno.NomeAluno)</h4>
                <h5 class="text-dark">@Html.DisplayFor(modelItem => item.Aluno.CursoAluno)</h5>

            </div>
            <div class="card-body">
                <h6 class="card-title">@Html.DisplayFor(modelItem => item.TituloPergunta)</h6>
                <p class="card-text">@Html.DisplayFor(modelItem => item.DescricaoPergunta)</p>


                @if (item.Respostas != null)
                {

                    <button type="button" onclick="Mudarestado('@id')">Respostas: @Html.DisplayFor(modelItem => item.Respostas.Count)</button>
                    <div id="@id" style="display:none">


                        @foreach (var resposta in item.Respostas)
                        {
                        <div class="card mt-3">
                            <div class="card-header bg-success">
                                <h5 class="text-white">@Html.DisplayFor(modelItem => resposta.Aluno.NomeAluno)</h5>
                                <h6 class="text-dark">@Html.DisplayFor(modelItem => resposta.Aluno.CursoAluno)</h6>
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <p class="card-text">@Html.DisplayFor(modelItem => resposta.DescricaoResposta)</p>
                                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                        }

                    </div>

                }


            </div>
            

            <div class="card-footer text-muted">
                2 days ago
            </div>

        </div>

        }
    </div>
    </div>